<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/signUp.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta id = "_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id = "_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<!--<script>-->
<!--    function formLogin(){-->
<!--        var username = $("input[name='username']").val().trim();-->
<!--        var password = $("input[name='password']").val().trim();-->
<!--        var data = {"username" : username, "password" : password};-->


<!--        var csrfHeader = $('meta[name="_csrf_header"]').attr('content')-->
<!--        var csrfToken = $('meta[name="_csrf"]').attr('content')-->

<!--        $.ajax({-->
<!--            type: "post",-->
<!--            url: "/api/login",-->
<!--            data: JSON.stringify(data),-->
<!--            dataType : "json",-->
<!--            beforeSend : function(xhr){-->
<!--                xhr.setRequestHeader(csrfHeader, csrfToken);-->
<!--                xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");-->
<!--                xhr.setRequestHeader("Content-type", "application/json");-->
<!--            },-->
<!--            success: function(data){-->
<!--                console.log(data);-->
<!--                window.location = '/';-->
<!--            },-->
<!--            error: function(xhr, status, error){-->
<!--                console.log(error);-->
<!--                window.location = '/login?error=true&exception=' + xhr.responseText;-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->

<div class="container">
    <!---heading---->
    <header class="heading"> 로그인 </header>
    <hr></hr>
    <!---Form starting---->

    <form th:action="@{/login_proc}" method="post">
        <input type="hidden" value="secret" name="secret_key">
        <div class="row ">
            <!--- For Name---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="lastname">ID</label></div>
                    <div class="col-xs-8">
                        <input type="text" name="username" id="username" placeholder="Enter your ID"
                               class="form-control ">
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="pass">Password</label></div>
                    <div class="col-xs-8">
                        <input type="password" name="password" id="password" placeholder="Enter your Password"
                               class="form-control last">
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12" style="margin-top: 30px; margin-left: 150px">
<!--                    ajax Login button-->
<!--                    <button type="button" onclick="formLogin()" class="btn btn-warning">-->
<!--                        로그인-->
<!--                    </button>-->
                    <input type="submit" class="btn btn-warning" value="로그인">
                    <div class="btn btn-warning" onclick="location.href='/signUp'">회원가입</div>
                </div>
            </div>


        </div>
    </form>
    <div th:if="${param.error}" class="form-group" style="position: absolute; margin-left: 130px; margin-top: 50px">
        <span th:text="${exception}" class="alert alert-danger"></span>
    </div>
</div>


</body>
</html>